name: ZeroSync CI

on:
  push:
    branches: [main]
  pull_request:
    branches: ["*"]

permissions:
  contents: read

env:
  PROTOSTAR_VERSION: 0.9.0

jobs:
  build:
    name: Build and test
    runs-on: ubuntu-latest
    steps:
      - name: Install Rust 1.62.1
        uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.62.1
          override: true
          components: rustfmt, clippy
      - uses: actions/checkout@v3
      - name: Python3 Build
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"
      - name: Create Python Environment 
        run: |
            python3.9 -m venv cairo_venv
            source cairo_venv/bin/activate
      - name: Install libgmp3-dev
        run: sudo apt install -y libgmp3-dev
      - name: Install test dependencies
        run: pip install ecdsa fastecdsa sympy cairo-lang==0.9.1 maturin
      - name: Run utreexo bridge node
        run: python src/utxo_set/bridge_node.py &
      - name: Install Protostar
        run: |
          curl -L https://raw.githubusercontent.com/software-mansion/protostar/master/install.sh | bash -s -- -v $PROTOSTAR_VERSION
          sudo ln -s ~/.protostar/dist/protostar/protostar /usr/local/bin/protostar
      - name: Build Rust Hint Lib
        run: source cairo_venv/bin/activate; make rust_hint_lib
      - name: Run Unit Tests
        run: source cairo_venv/bin/activate; make unit_test
      # - name: Run Integration Tests
      #   run: ../../../.protostar/dist/protostar/protostar test --cairo-path=./src tests
