name: ZeroSync CI

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches: ["*"]

permissions:
  contents: read

env:
  PROTOSTAR_VERSION: 0.9.1

jobs:
  build:
    if: github.event.pull_request.draft == false
    timeout-minutes: 30
    name: Build and test
    runs-on: ubuntu-latest
    steps:
      - name: Install Rust 1.68.0
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly-2023-01-12
          override: true
          components: rustfmt, clippy
      - uses: actions/checkout@v3
      - name: Install Giza
        run: |
          git clone https://github.com/ZeroSync/giza.git
          cd giza
          cargo install --path cli
      - name: Install libgmp3-dev
        run: sudo apt install -y libgmp3-dev
      - name: Python3 Build
        uses: actions/setup-python@v4
        with:
          python-version: 3.9
      - name: Create Python Environment 
        run: |
          pip install --upgrade pip
          python3.9 -m venv cairo_venv
      - name: Install cairo-lang
        run: |
          source cairo_venv/bin/activate
          pip install ecdsa fastecdsa sympy typeguard==2.13.3 cairo-lang==0.10.3 maturin patchelf
      - name: Compile Cairo files 
        run: |
          source cairo_venv/bin/activate
          make clean
          make cairo_compile_chain_proof
          make cairo_compile_headers_chain_proof
          #- name: Check formatting
          #run: |
          #source cairo_venv/bin/activate
          #make format_cairo_check
      - name: Install Protostar
        run: |
          curl -L https://raw.githubusercontent.com/software-mansion/protostar/master/install.sh | bash -s -- -v $PROTOSTAR_VERSION
          sudo ln -s ~/.protostar/dist/protostar/protostar /usr/local/bin/protostar
      - name: Build Rust Libs
        run: |
          source cairo_venv/bin/activate
          cd parser
          cargo update
          cd ../hints
          cargo update
          cd ..
          cargo update
          make stark_parser
          make rust_hint_lib
      - name: Run Unit Tests
        run: |
          source cairo_venv/bin/activate
          python src/utxo_set/bridge_node.py > /dev/null 2>& 1 &
          python src/headers_chain_proof/bridge_node.py > /dev/null 2>& 1 &
          make unit_test
          
          # - name: Run Integration Tests
          #   run: ../../../.protostar/dist/protostar/protostar test --cairo-path=./src tests
